<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <style>
    body {background-color: powderblue;}
    h4   {color: blue;}
    p    {color: blue;}
  </style>
</head>

<body>

<div>

  <center><h1>Tiny App</h1></center>

  <% if (username) { %>

   <center><p>You are logged in as: <%= username %> </p></center>

   <center><form action="/logout" method="POST" style="margin:20px;">

      <div style="padding: 20px"><button style="background-color: yellow; width: 80px;height:40px"><strong>Logout</strong></button></div>

  </form></center>

  <center><a style="padding: 20px" href="/urls/new">Click here to add a URL</a></center>


  <% }

  else{ %>

  <center>
  <form action="/login" method="POST" style="margin: 20px">

    <div style="padding: 20px">
    <label for="email" style="margin: 32px">Email:</label></span>
    <input id="registerEmail" type="email" name="email" style="width: 300px; height: 20px">
    </div>

    <div style="padding: 20px">
    <label for="PW" style="margin: 20px">Password:</label>
    <input id="registerPW" type="password" name="password" style="width: 300px; height: 20px">
    </div>

    <div style="padding: 20px"><button style="background-color: yellow; width: 80px;height:40px"><strong>Login</strong></button></div>

    </form>
    <center>

    <center><a style="padding: 20px" href="/register"><strong>Please Register Here if you have not registered!</strong></a></center>


  <% } %>

</div>

</body>

</html>