<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <style>
    body {background-color: powderblue;}
    h2   {color: blue;}
    p    {color: blue;}
  </style>
</head>

<body>

    <header>
        <center><h1>Tiny App</h1></center>
        <center><h2>Sign up for this Amazing App here!</h2></center>
    </header>

    <form action="/register" method="POST" style="margin: 20px">

        <div style="padding: 20px">
        <center>
        <label style="margin: 32px" for="email">Enter your Email:</label>
        <input id="registerEmail" type="email" name="email" style="width: 300px; height: 20px">
        </center>
        </div>

        <div style="padding: 20px">
        <center>
        <label style="margin: 29px" for="PW">Select a Password:</label>
        <input id="registerPW" type="password" name="password" style="width: 300px; height: 20px">
        </center>
        </div>

        <div style="padding: 20px">
        <center>
        <div><button style="background-color: yellow; width: 80px;height:40px"><strong>Register</strong></button></div>
        </center>
        </div>

    </form>

    <center><p>You will be redirected to the login page once you have registered!</p></center>

</body>

</html>