
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
    <style>
    body {background-color: powderblue;}
    h4   {color: blue;}
    p    {color: blue;}
    </style>
  </head>

  <body style="font-size:20px; padding:50px;">


  <header>
    <% include partials/_header %>
  </header>

    <center><h4>Add a new URL to your database here:</h4></center>

    <form action="/urls" method="POST" style="margin:20px;">

      <center><label for="longURL">Enter a URL:</label>

      <input id="longURL" type="text" name="longURL" placeholder="http://" style="margin: 10px; width: 300px; height: 20px">

      <span><button style="background-color: yellow; width: 80px;height:40px"><strong>ADD URL</strong></button></span>

      </center>

    </form>

  </body>

</html>