
<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <style>
    body {background-color: powderblue;}
    h4   {color: blue;}
    p    {color: blue;}
    a    {color: green;}
  </style>

</head>

<body>


  <header>
        <% include partials/_header %>
  </header>



  <h4> These are your URLs: </h4>


  <ol><% for(var key in urls){ %>

    <li>
    <form action="/urls/<%= key %>" method="POST" style="margin:10px;">

    <div style="padding: 5px;"><%= key %> : <a href="<%= urls[key].longURL %>"><%= urls[key].longURL %></a></div>

    <span style="padding:10px;">Update or delete your URLs:</span>

    <a href="urls/:id/update">Update URL</a>

    <span>OR</span>

    <button style="background-color: yellow; width: 70px;height:25px"><strong>Delete</strong></button>

    <span>URL</span>

    </form>
    </li>

    <% }; %>

  </ol>

  <a style="padding: 20px" href="/urls/new">Click here to add new URLs</a>

</body>

</html>

